<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node at OC Tanner</h1>
    <p>This is a sample Node application. It's a reasonably simple app - but a good foundation for understanding how to get the most out our platform.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was auto-deployed when you commited changes into github. Branches map to the environment where code will be deployed.</li>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Go to github and review your code, the branches created and more.</a>.</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.nodejs.org">Node</a></li>
        <li><a href="https://www.npmjs.org">NPM</a></li>
        <li><a href="https://github.com/octanner">OC Tanner Github</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
